body {
  font-size: 16px;
  line-height: 1.75;
}

.container {
  max-width: 600px;
}

.callout {
  padding-top: 1.25rem;
  padding-bottom: 0;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem;
}

.callout h4 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: .25rem;
}

.callout-info {
  border-left-color: #17a2b8;
}

.callout-info h4 {
  color: #17a2b8;
}

.main {
  margin-bottom: 64px;
}

.donate a {
  height: 63px !important;
  line-height: 63px !important;
}

.donate a span {
  margin-left: 5px !important;
}

.share a {
  margin-right: 1px;
}

.share a img {
  background-color: #212529;
  width: 63px;
  height: 63px;
}

.signature {
  text-align: center;
}
